.default-style{
	font-size:16px;
}

.row{
	padding-bottom:10px;
}

.myLabel{
	padding-right:10px;
	font-weight:bold;
}

.note{
	color:#FF1919;
	font-style:italic;
}

.box{
	border:1px solid #BABABA;
	padding:0.5em;
	margin-top:2px;
}

ul.list-competencies{
	padding-left:1.15em;
}

#posDescr{
	height:200px;
}

#eduExp{
	height:200px;
}

.notice{
	color:red !important;
	font-style:italic;
	font-size:1.2em;
}

.modalForm label{
	font-size:1.4em;
}

#otherReq-table{
	width: auto;
}

#otherReq-table > tbody > tr > td:first-child{
	padding-right: 1em;
}
